/* CredentialsTable.css

.table-container {
    border: 5px solid tomato;
    border-collapse: collapse;
    width: 80%;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: tomato;
    color: white;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tr:hover {
    background-color: #ddd;
} */
/* CredentialsTable.css */

.table-container {
    border: 5px solid tomato;
    border-collapse: collapse;
    width: 80%;
    height: 200px; /* Set a fixed height for the container */
    overflow-y: auto; /* Add vertical scrolling */
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: tomato;
    color: white;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tr:hover {
    background-color: #ddd;
}
